.utilisateur-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  h1{
    text-align: center;
  }
  .utilisateur-card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .utilisateur-field {
    margin-bottom: 8px;
  }
  
  .field-name {
    font-weight: bold;
  }
  
  .field-value {
    color: #333;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .button-container button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .button-container button:hover {
    background-color: #0056b3;
  }
  